logs/
**/node_modules/
**/.DS_Store
.idea/
**/__pycache__
*.aux
*.log
*.pickle
*.db
*.rdb
*.pid
*.toc
*.out
*.png
*.pickle
celerybeat-schedule                                                                     
.ipynb_checkpoints
env/
old_data/