<!-- <form action="" method="POST" enctype="multipart/form-data">
    <div>
        <input type="file" name="file" />
    </div>
    <input class="btn" type="submit" name="action" value="Upload">
</form>
<a href="static/data.json" download>Файл-шаблон</a>
<div>
    Для того, чтобы отрисовать полигон, необходимо загрузить файл с координатами.
    Структура файла:
    <pre>
        {
            "lat": [
                41.3,
                42.9,
                42.4,
                39.8,
                37.6,
                38.3,
                37.6
            ],
            "lon": [
                -116.0,
                -114.2,
                -112.9,
                -111.9,
                -114.2,
                -115.4,
                -117.7
            ]
        }
    </pre>

    Вы можете скачать файл-шаблон, изменить его, не изменяя структуру и загрузить. После нажатия кнопки Upload должен
    отрисоваться полигон
</div> -->

{% for plot in plots %}
<img src="static/{{plot}}" alt="{{plot}}">
{% endfor %}